@font-face {
  font-family: 'iconfont';  /* project id 1076628 */
  src: url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.eot');
  src: url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.woff') format('woff'),
  url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1076628_24qgfdatmcl.svg#niceicon') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e9c6";
}

.icon-music:before {
  content: "\ec66";
}

.icon-play:before {
  content: "\e60d";
  color: #d81e06;
  font-size: 28px;
}

.icon-pause:before {
  content: "\e610";
  color: #d81e06;
  font-size: 28px;
}

.icon-symbol:before {
  content: "\e68c";
  color: #ababab;
  font-size: 16px;
  display: flex;
}

.icon-github:before {
  content: "\e68b";
  color: #ababab;
  font-size: 16px;
  display: flex;
}

.icon-spread:before {
  content: "\e60f";
}
