@import "~normalize.css";
@import "~antd/dist/antd.css";

/*!* 样式的重置 *!*/
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/*其它样式*/
.ant-carousel .slick-dots li.slick-active button, .ant-carousel .slick-dots li.slick-active {
  width: 15px;
  border-radius: 6px;
  background: #fa2800;
}

.slick-dots {
  bottom: -8px !important;
}

.ant-carousel .slick-dots li, .ant-carousel .slick-dots button {
  background: #a3a3ac;
  height: 10px !important;
  width: 10px;
  border-radius: 50%;
}

/*歌单submenu样式设置*/
.ant-menu-submenu-popup, .ant-menu-vertical {
  width: 700px;
  height: 400px;
  top: 150px;
}

.ant-menu-vertical.ant-menu-sub {
  max-height: 400px;
}

.ant-menu-item-group-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px !important;
}

.ant-menu-item-group {
  padding: 5px;
}

.anticon-down {
  display: inline-block !important;
  margin-top: 16px;
  font-size: 15px !important;
}

.ant-menu-submenu-title:hover {
  color: #f7f7f7!important;
  background: #fa2800 !important;
}
.ePjXqV .ant-menu .control-type .ant-menu-submenu-title{
  background: #f7f7f7;
  color: #161e27;
  font-size: 12px;
}

.ant-menu-submenu-active div{
  color: #f7f7f7!important;
  background: #fa2800 !important;
}
.subMenu {
  display: none;
}
.ant-menu .ant-menu-item:nth-child(24){
  margin-right: 280px!important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #fa2800;
}

.ant-menu-item-group-title {
  font-weight: bold;
  color: #161e27;
  font-size: 15px;
}

.ant-menu-item-group-list .ant-menu-item, .ant-menu-item-group-list .ant-menu-submenu-title {
  padding: 0 18px;
  background: #f7f7f7;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  font-size: 12px;
  color: #161e27;
  transition: all 0.4s;
}

.ant-menu-item-group-list .ant-menu-item:hover {
  color: #fff;
  background: #fa2800;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #fff;
  background: #fa2800;
}

.ant-modal-wrap{
  backdrop-filter: blur(5px);
}
.control-type {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background: #f7f7f7;
}

.control-type div.ant-menu-submenu-title {
  font-size: 13px !important;
}
.ant-spin-spinning{
  width: 100%;
  margin: 20px 0;
}
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  font-size: 14px;
  width: 100%;
}

body {
  padding-top: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  color: #4a4a4a;
}

h1 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
}

h3 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #161e27;
}

img {
  height: auto;
  max-width: 100%;
  border-style: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
  border: 0;
}

input:focus {
  outline: none;
}

/*—滚动条默认显示样式–*/

::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

/*设置字体*/

